@model List<Student>
@{
    ViewData["Title"] = "Student Lists";
}
<h1>Student List</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Roll</th>
            <th>Status</th>
            <th>Email</th>
            <th>Country</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => student.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => student.LastName)</td>
                <td>@Html.DisplayFor(modelItem => student.Age)</td>
                <td>@Html.DisplayFor(modelItem => student.Roll)</td>
                <td>@Html.DisplayFor(modelItem => student.Status)</td>
                <td>@Html.DisplayFor(modelItem => student.Email)</td>
                <td>@Html.DisplayFor(modelItem => student.Country)</td>
                <td>@Html.DisplayFor(modelItem => student.Address)</td>
            </tr>
        }
    </tbody>
</table>